.account-info {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.writing {
  margin-bottom: 20px;
}

.writing h3 {
  margin-top: 0;
}

.writing p {
  margin-bottom: 10px;
}